.main {
    background-color: yellow;
    margin-bottom: 20px;
    display: flex;
}

#square1 {
    justify-content: space-between;
}

#square2 {
    flex-direction: row-reverse;
    justify-content: space-between;
}

#square3 {
    padding-top: 50px;
    justify-content: space-between;
}

#square4 {
    flex-direction: column;
    align-items: center;
}

#square5 {
    justify-content: center;
}

.square.green {
    background-color: green;
}

.square.red {
    background-color: red;
}

.square.black {
    background-color: black;
}

.square {
    width: 100px;
    height: 100px;
}