.main {
    background-color: yellow;
    margin-bottom: 20px;
    display: flex;
}

#square1 {
    justify-content: space-between;
}

#square2 {
    flex-direction: row-reverse;
    justify-content: space-between;
}

#square3 {
    padding-top: 50px;
    justify-content: space-between;
}

#square4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
}

#square5 {
    justify-content: center;
}

.square.yellow {
    background-color: yellow;
    color: yellow;
}

.square.green {
    background-color: green;
}

.square.red {
    background-color: red;
}

.square.black {
    background-color: black;
}

.square {
    width: 100px;
    height: 100px;
}


#square4 .square .green {
    left: 0;
}

#square4 .square.red {
    width: 150px;
    height: 150px;
}