li {
    list-style-type: none;
    border: 2px solid blue;
    margin-left: 5px;
    padding: 2px;
    font: 14pt Arial, serif;
    color: blue;
}

ul {
    display: flex;
}

ul a:link, ul a:visited {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

ul li:hover {
    border: 2px solid black;
    background-color: #2F2F2F;
    color: white;
}