h1, ol, b {
    color: red;
}

ol, ul li {
    font-family: Calibri, serif;
}

h1 {
    text-decoration: underline;
    text-align: center;
    font-family: "Calibri Light", serif;
}

h2 {
    color: green;
}

.plain-text {
    text-indent: 30px;
    font-family: Arial, serif;
    font-size: 9pt;
}

ul li {
    font-style: italic;
    color: crimson;
    font-size: 13.5pt;
}

b {
    font-weight: bolder;
    font-size: larger;
}
