header {
    background-color: orange;
    color: white;
    font-size: 24pt;
    display: flex;
    justify-content: left;
    padding: 20px 10px;
    width: 100%;
}

header div {
    margin-left: 30px;
}
a {
    text-decoration: none;
    color: white;
}

header div a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    padding: 40px;
}

.root-image {
    width: 1300px;
}

.sidebar {
    width: 600px;
}

.root {
    font-size: 18pt;
    width: 1300px;
    margin-right: 40px;
}

table {
    width: 1300px;
    border-collapse: separate;
    border-spacing: 5px;
}

th, tr, td {
    border: 3px solid black;
    text-align: center;
}

th {
    background-color: darkgrey;
}