body {
    border: 10px solid saddlebrown;
    padding: 20px;
}

header {
    display: flex;
    background-color: black;
    justify-content: stretch;
}

header a {
    text-align: center;
    padding: 40px;
    font-size: 24px;
    color: white;
    flex: 1;
}

header a:hover {
    background-color: darkblue;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
}

header a:visited, header a:link {
    color: white;
}

main {
    display: flex;
}

.container {
    margin: 10px;
}

.root-image {
    width: 1825px;
}

.sidebar {
    justify-content: space-around;
    width: 1500px;
}

.sidebar-block {
    background-color: lightgoldenrodyellow;
    padding-top: 0;
}

.sidebar-block-header {
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.blogs {

}

.blog {

}

.blog-header {
    line-height: 5px;
}

.blog-content {
    line-height: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: rgba(154, 205, 50, 0.5);
}