div {
    font-family: Arial;
    font-size: 120%;
}

h1{
    padding-top: 10px;
    margin-top: 0;
}

#text-numeric h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

#green-screen{
    background-color: #067f42;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 2px;
    padding-top: 1px;
}

#text-numeric{
    margin: 0 9.5%;
    text-align: justify;
}

ol {
   mask-type: luminance;
}

#red-screen{
    background-color: #be1a0c;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 2px;
    padding-top: 1px;
}

#text{
    margin: 0% 10%;
    text-align: justify;
}

#text h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

#orange-screen{
    background-color: #f67f44;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 2px;
    padding-top: 1px;
}

#flex-image1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

#flex-image2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

hr {
    border: solid 20px #922e04;
    margin: 0;
}

li {
    color: red;
    padding-left: 0;
    margin-left: 0;
}

li p {
    color: black;
    margin-left:-2%;
}

#image1 {
    display: block;
    width: 320px;
    height: 180px;
    background: url(../img/logo/logo1.png) white no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: solid 1px black;
}

#image2 {
    display: block;
    width: 320px;
    height: 180px;
    margin-left: 1%;
    margin-bottom: 10px;
    background: url(../img/logo/logo2.png) white no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: solid 1px black;
}

#image3 {
    display: block;
    width: 320px;
    height: 180px;
    margin-left: 1%;
    margin-bottom: 10px;
    background: url(../img/logo/logo3.png) white no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: solid 1px black;
}
#image4 {
    display: block;
    width: 320px;
    height: 180px;
    margin-left: 1%;
    margin-bottom: 10px;
    background: url(../img/logo/logo4.png) white no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: solid 1px black;
}
#image5 {
    display: block;
    width: 320px;
    height: 180px;
    margin-bottom: 10px;
    background: url(../img/logo/logo5.png) white no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: solid 1px black;
}
#image6 {
    display: block;
    width: 320px;
    height: 180px;
    margin-left: 1%;
    margin-bottom: 10px;
    background: url(../img/logo/logo6.png) white no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: solid 1px black;
}

#image7 {
    display: block;
    width: 320px;
    height: 180px;
    margin-left: 1%;
    margin-bottom: 10px;
    background: url(../img/logo/logo7.png) white no-repeat;
    background-size: auto 90%;
    background-position: center;
    border: solid 1px black;
}

#image8 {
    display: block;
    width: 320px;
    height: 180px;
    margin-left: 1%;
    background: url(../img/logo/logo8.png) white no-repeat;
    background-size: auto 80%;
    background-position: center;
    border: solid 1px black;
}