div {
    font-family: Raleway;
    font-size: 120%;
}

#menu7{
    color: white;
    font-size: 170%;
    background: orange;
}

#menu7 ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#menu7 li{
    margin: 0;
    padding: 10px 0 10px 0;
    list-style-type: none;
}

#menu7 a{
    padding: 10px 25px 10px 25px;
}

#menu7 a:link, #menu7 a:visited{
    color: white;
    text-decoration: none;
}

#menu7 a:hover {
    color: white;
    text-decoration: underline;
}

#page {
    margin: 10px 40px;
    width:auto;
    display: flex;
    text-align: justify;
}

#panel1 {
    height:auto;
    padding-right: 10px;
    margin-top: 0px;
    width:75%;
    float:left;
}

p{
    margin: 10px 0px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 0px;
}

h3 {
    margin-bottom: 10px;
    margin-top: 15px;
}

img {
    position: center;
    width: 100%;
    height: auto;
}

#panel2 {
    padding-left: 10px;
    height:auto;
    width:25%;
    float:right;
    font-size: 100%;
}

table {
    width: 100%;
}

th{
    background-color: #c9c9c9;
}

th, td {
    border: solid 1px black;
    text-align: center;
}