div {
    font-family: Raleway;
    font-size: 110%;
}

#header {
    border:solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    width: auto;
}

img {
    height: 300px;
    width: 335px;
    float: left;
    padding-right: 30px;
}

header-cont {
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
}
#menu1{
    border: solid 1px black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}
#menu1 a{
    color: blue;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#menu1 a:hover{
    color: red;
    text-decoration: underline;
}

#page {
    width:auto;
    border:solid 1px black;
    display: flex;
}

#panel1 {
    height:auto;
    width:60%;
    float:left;
}

#text {
    border:solid 1px black;
    width: 150%;
    padding: 0px 15px 10px 30px;
}

#content {
    font-family: Raleway;
    font-size: 110%;
    float: left;
    overflow:auto;
}

#panel2 {
    height:auto;
    width:60%;
    float:right;
}

#footer {
    border:solid 1px black;
    height:100px;
    width:auto;
    overflow:hidden;
}