span  {
    color: red; /* Первое обьявление в блоке */
    font-weight: bold;
    text-align: center;
    padding-right: 10px; /* Четвертое обьявление в блоке */
    overflow: hidden;
    font-style: italic;
}